extends layout

block content
  h1 Update score
    div.update__scoreboard
      form.update__form
        select(name="team" id="team" class="select__team") Team
          option(value="rm") Real Madrid
          option(value="se") Sevilla 
          option(value="fcb") Fc Barcelona
          option(value="am") Atlético Madrid
          option(value="rb") Real Betis
        label(for="score" class="label__score") Score 
        input(type="text" id="score" name="score" class="score__input")
        input(type="submit" value="Update score")
  script(src='/javascripts/app.js')