extends layout

block content
  h1 Update score
    div.update__scoreboard
      form.update__form
        select(name="team") Team
          option(value="Real Madrid") Real Madrid
          option(value="Sevilla") Sevilla 
          option(value="Fc Barcelona") Fc Barcelona
          option(value="Atlético Madrid") Atlético Madrid
          option(value="Real Betis") Real Betis
        label(for="score" class="score") Score 
        input(type="text" name="score" class="score__input")
        input(type="submit" value="Update score")
  script(src='/javascripts/app.js')
