extends layout

block content
  h1 Scoreboard
    div.scoreboard
      table.table__scoreboard
        tr
          th Team
          th Score
        tr
          td Real Madrid
          td(class="rm") 0
        tr
          td Sevilla
          td(class="se") 0
        tr
          td Fc Barcelona
          td(class="fcb") 0
        tr 
          td Atlético Madrid
          td(class="am") 0
        tr
          td Real Betis
          td(class="rb") 0
  script(src='/javascripts/app.js')